<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension id="com.kohls.ibm.ocf.pca.AutoLoader" point="com.yantra.yfc.rcp.YRCPluginAutoLoader">
        <AutoLoad ClassToLoad="registry.ExtnAutoLoader" LoadOrder="500"/>
    </extension>
    <extension point="org.eclipse.ui.editors">
        <editor
            class="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSPackShipmentEditor"
            default="false" icon="icons/fulfillment.gif"
            id="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSPackShipmentEditor" name="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSPackShipmentEditor"/>
        <editor
            class="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSPrintPackSlipEditor"
            default="false" icon="icons/fulfillment.gif"
            id="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSPrintPackSlipEditor" name="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSPrintPackSlipEditor"/>
            
            <editor
            class="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSMassSinglesPrintEditor"
            default="false" icon="icons/fulfillment.gif"
            id="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSMassSinglesPrintEditor" name="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSMassSinglesPrintEditor"/>
            <editor
            class="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSReprintBatchScreenEditor"
            default="false" icon="icons/fulfillment.gif"
            id="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSReprintBatchScreenEditor" name="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSReprintBatchScreenEditor"/>
             <!--- Start Drop2 changes for Batch Print -->
             <editor
            class="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSBatchPrintScreenEditor"
            default="false" icon="icons/fulfillment.gif"
            id="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSBatchPrintScreenEditor" name="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSBatchPrintScreenEditor"/>
             <!--- End Drop2 changes for Batch Print -->
			 
			 <!--- Start Drop2 Pick Slip Print -->
			  <editor
                  class="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSStorePickSlipPrintEditor"
                  default="false"
                  icon="icons/fulfillment.gif"
                  id="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSStorePickSlipPrintEditor"
                  name="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSStorePickSlipPrintEditor"/>
			<!--- End Drop2 Pick Slip Print -->
	<!--- Start Drop2 changes for Change shipment address -->
             <editor
            class="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSChangeShipmentAddressEditor"
            default="false" icon="icons/fulfillment.gif"
            id="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSChangeShipmentAddressEditor" name="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSChangeShipmentAddressEditor"/>
             <editor
                   class="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSChangeShipmentAddressEditor"
                   default="false"
                   id="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSChangeShipmentAddressEditor"
                   name="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSChangeShipmentAddressEditor"/>
                   
                   
                   <editor
            class="com.kohls.ibm.ocf.pca.printUtils.KohlesPrintReportBrowserEditor"
            default="false" icon="icons/fulfillment.gif"
            id="com.kohls.ibm.ocf.pca.printUtils.KohlesPrintReportBrowserEditor" name="com.kohls.ibm.ocf.pca.printUtils.KohlesPrintReportBrowserEditor"/>
             <editor
                   class="com.kohls.ibm.ocf.pca.printUtils.KohlesPrintReportBrowserEditor"
                   default="false"
                   id="com.kohls.ibm.ocf.pca.printUtils.KohlesPrintReportBrowserEditor"
                   name="com.kohls.ibm.ocf.pca.printUtils.KohlesPrintReportBrowserEditor"/>
<!---END Drop2 changes for Change shipment address -->		
    </extension>
    <extension point="com.yantra.yfc.rcp.YRCRelatedTaskCategories">
        <categories id="KOHLS_PACK_CONTAINER_CATEGORIES">
            <category id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY">
                <tasks id="com.kohls.ibm.ocf.pca.shipping.tasks">
					<task id="Print_Shipment_Pick_Slip"/>
					<task id="Print_Shipment_Pack_Slip"/>
                    <task id="Pack_Shipment"/>
                    <task id="Print_Pack_Slips"/>
                    <task id="Reprint_Batch"/>
                    <task id="Change_Shipping_Address"/>
                    <task id="Print_Store_Pick_Slip"/>
                </tasks>
                
            </category>
        </categories>
        
        <categories id="KOHLS_REPRINT_BATCH_CATEGORIES">
            <category id="KOHLS_Reprint_Batch_CATEGORY">
                <tasks id="com.kohls.ibm.ocf.pca.printing.tasks">
					<task id="Print_Shipment_Pick_Slip"/>
					<task id="Print_Shipment_Pack_Slip"/>
                    <task id="Pack_Shipment"/>
                    <task id="Print_Pack_Slips"/>

                </tasks>
            </category>
        </categories>
    </extension>
    <extension point="com.yantra.yfc.rcp.YRCRelatedTasks">
        <tasks id="com.kohls.ibm.ocf.pca.task.kohlsrelatedtasks">
		<task
                actionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintShipmentPickSlipRelatedTaskAction"
                filterRequired="false" groupId="Shipping"
                id="Print_Shipment_Pick_Slip" isExtension="true" name="Print_Shipment_Pick_Slip">
                <categories id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY">
                    <category id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY"/>
                </categories>
            </task>
			<task
                actionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintShipmentPackSlipRelatedTaskAction"
                filterRequired="false" groupId="Shipping"
                id="Print_Shipment_Pack_Slip" isExtension="true" name="Print_Shipment_Pack_Slip">
                <categories id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY">
                    <category id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY"/>
                </categories>
            </task>
            <task
                actionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintPackSlipRelatedTaskAction"
                filterRequired="false" groupId="Shipping"
                id="Print_Pack_Slips" isExtension="true" name="Print Mass Multis">
                <categories id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY">
                    <category id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY"/>
                </categories>                
            </task>
            <task
                actionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPackShipmentRelatedTaskAction"
                filterRequired="false" groupId="Shipping"
                id="Pack_Shipment" isExtension="false" name="Pack_Shipment">
                <categories id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY">
                    <category id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY"/>
                </categories>
            </task>
            <task
                  actionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSReprintBatchRelatedTaskAction"
                  filterRequired="false"
                  groupId="Shipping"
                  id="Reprint_Batch"
                  isExtension="false"
                  name="Reprint_Batch">
                <categories id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY">
                    <category id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY"/>
                    <category id="KOHLS_Reprint_Batch_CATEGORY"/>
                </categories>
            </task>
             <!--- Start Drop2 changes for Batch Print -->
             <task
                  actionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSBatchPrintRelatedTaskAction"
                  filterRequired="false"
                  groupId="Shipping"
                  id="Batch_Print"
                  isExtension="false"
                  name="Batch_Print">
                <categories id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY">
                    <category id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY"/>
                    <category id="KOHLS_Reprint_Batch_CATEGORY"/>
                </categories>
            </task>
             <!--- End Drop2 changes for Batch Print -->
             <!--- Start Drop2 changes for Change shipment address -->
            <task
                  actionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSChangeShippingAddressTaskAction"
                  filterRequired="false"
                  groupId="Shipping"
                  id="Change_Shipping_Address"
                  isExtension="false"
                  name="Change Shipping Address"> 
               <categories id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY">
                  <category id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY"/>
               </categories>
               <permissions id="">
					<permission applicationId="YFSSYS00006" permissionId="SOPRCPKOHLS_CHAN_SHIADD"/>
				</permissions>
            </task>
            <task
                  actionId="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSStorePickSlipPrintEditorOpenAction"
                  filterRequired="false"
                  groupId="Shipping"
                  id="Print_Store_Pick_Slip"
                  isExtension="false"
                  name="Print_Store_Pick_Slip">
               <categories id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY">
                  <category id="SOP_View_OBE_SHIPMENT_SEARCH_CATEGORY"/>
               </categories>
            </task>
<!--- End Drop2 changes for Change shipment address -->
        </tasks>
    </extension>
    
    
    <extension point="org.eclipse.ui.actionSets">
        <actionSet id="com.kohls.ibm.ocf.pca.tasks.actionSet"
            label="com.kohls.ibm.ocf.pca.tasks.actionSet" visible="true">
            <action
                class="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerCloseAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerCloseAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerCloseAction"
                label="Close Container" style="push"/>
            <action
                class="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerRemoveAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerRemoveAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerRemoveAction"
                label="Remove Container" style="push"/>
            <action
                class="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintSinglesAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintSinglesAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintSinglesAction"
                label="%com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintSinglesAction" style="push"/>
            <action
                class="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintMultisAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintMultisAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintMultisAction"
                label="%com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintMultisAction" style="push"/>
            <action
                class="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipEditorOpenAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipEditorOpenAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipEditorOpenAction"
                label="%com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipEditorOpenAction" style="push"/>
            <action
                class="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentEditorOpenAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentEditorOpenAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentEditorOpenAction"
                label="%com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentEditorOpenAction" style="push"/>
            <action
                class="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentRecordShortageAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentRecordShortageAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentRecordShortageAction"
                label="%RecordShortage" style="push"/>
             <action
                class="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesPrintEditorOpenAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesPrintEditorOpenAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesPrintEditorOpenAction"
                label="%com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesPrintEditorOpenAction" style="push"/>
             <action
                class="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesCloseAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesCloseAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesCloseAction"
                label="%com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesCloseAction" style="push"/>
             <action
                 class="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesPrintAction"
                 definitionId="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesPrintAction"
                 icon="icons/fulfillment.gif"
                 id="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesPrintAction"
                 label="%com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesPrintAction"
                 state="true"
                 style="push"/>
              <action
                 class="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesRefreshAction"
                 definitionId="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesRefreshAction"
                 icon="icons/fulfillment.gif"
                 id="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesRefreshAction"
                 label="%com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesRefreshAction"
                 state="true"
                 style="push"/>
               <action
                 class="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSMassMultisRefreshAction"
                 definitionId="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSMassMultisRefreshAction"
                 icon="icons/fulfillment.gif"
                 id="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSMassMultisRefreshAction"
                 label="%com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSMassMultisRefreshAction"
                 state="true"
                 style="push"/>
               <action
                class="com.kohls.ibm.ocf.pca.tasks.reprintbatch.actions.KOHLSReprintBatchScreenEditorOpenAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.reprintbatch.actions.KOHLSReprintBatchScreenEditorOpenAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.reprintbatch.actions.KOHLSReprintBatchScreenEditorOpenAction"
                label="%com.kohls.ibm.ocf.pca.tasks.reprintbatch.actions.KOHLSReprintBatchScreenEditorOpenAction" style="push"/>                
                
               <action
                class="com.kohls.ibm.ocf.pca.tasks.reprintbatch.actions.KOHLSReprintBatchPrintAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.reprintbatch.actions.KOHLSReprintBatchPrintAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.reprintbatch.actions.KOHLSReprintBatchPrintAction"
                label="%com.kohls.ibm.ocf.pca.tasks.reprintbatch.actions.KOHLSReprintBatchPrintAction" style="push"/>
                 
				<!--- Start Drop2 changes for Reprint Label -->				
               <action
                class="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerReprintLabelAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerReprintLabelAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerReprintLabelAction"
                label="Reprint Label"
                style="push"/>				
				<!--- End Drop2 changes for Reprint Label -->				
					 
                 <!--- Start Drop2 changes for Batch Print -->
                 <action
                class="com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintScreenEditorOpenAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintScreenEditorOpenAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintScreenEditorOpenAction"
                label="%com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintScreenEditorOpenAction" style="push"/>
                
                 <action
                class="com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintAction"
                label="%com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintAction" style="push"/>
                                
                <action
                class="com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintReprintAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintReprintAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintReprintAction"
                label="%com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintReprintAction" style="push"/>
                 <!--- End Drop2 changes for Batch Print -->
				 
				  <!--- Start Drop2 Store Pick Slip Print -->
				 <action
                     class="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSStorePickSlipPrintEditorOpenAction"
                     definitionId="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSStorePickSlipPrintEditorOpenAction"
                     icon="icons/fulfillment.gif"
                     id="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSStorePickSlipPrintEditorOpenAction"
                     label="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSStorePickSlipPrintEditorOpenAction"
                     style="push"/>
               <action
                     class="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipAction"
                     definitionId="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipAction"
                     icon="icons/fulfillment.gif"
                     id="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipAction"
                     label="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipAction"
                     style="push"/>
               <action
                     class="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipCloseAction"
                     definitionId="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipCloseAction"
                     icon="icons/fulfillment.gif"
                     id="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipCloseAction"
                     label="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipCloseAction"
                     style="push"/>
               <action
                     class="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSReprintShippingLabelAction"
                     definitionId="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSReprintShippingLabelAction"
                     icon="icons/fulfillment.gif"
                     id="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSReprintShippingLabelAction"
                     label="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSReprintShippingLabelAction"
                     style="push"/>
               <action
                     class="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipRefreshAction"
                     definitionId="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipRefreshAction"
                     icon="icons/fulfillment.gif"
                     id="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipRefreshAction"
                     label="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipRefreshAction"
                     style="push"/>
               <action
                     class="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipBulkPrintAction"
                     definitionId="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipBulkPrintAction"
                     icon="icons/fulfillment.gif"
                     id="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipBulkPrintAction"
                     label="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipBulkPrintAction"
                     style="push"/>
					 
                <!--- End Drop2 Store Pick Slip Print --> 
                <!--- Start Drop2  change shipment address--> 		
		 <action
                     class="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSChangeShippingAddressTaskAction"
                     definitionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSChangeShippingAddressTaskAction"
                     icon="icons/fulfillment.gif"
                     id="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSChangeShippingAddressTaskAction"
                     label="%com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSChangeShippingAddressTaskAction"
                     style="push"/>
                <!--- End Drop2 change shipment address --> 
		
		
        </actionSet>
        <actionSet id="com.kohls.ibm.ocf.pca.relatedtasks.actionSet"
            label="com.kohls.ibm.ocf.pca.relatedtasks.actionSet" visible="true">
            <action
                class="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintPackSlipRelatedTaskAction"
                definitionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintPackSlipRelatedTaskAction"
                icon="icons/ActivateButton.gif"
                id="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintPackSlipRelatedTaskAction"
                label="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintPackSlipRelatedTaskAction" style="push"/>
            <action
                class="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPackShipmentRelatedTaskAction"
                definitionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPackShipmentRelatedTaskAction"
                icon="icons/ActivateButton.gif"
                id="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPackShipmentRelatedTaskAction"
                label="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPackShipmentRelatedTaskAction" style="push"/>
              <action
                class="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintShipmentPickSlipRelatedTaskAction"
                definitionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintShipmentPickSlipRelatedTaskAction"
                icon="icons/ActivateButton.gif"
                id="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintShipmentPickSlipRelatedTaskAction"
                label="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintShipmentPickSlipRelatedTaskAction" style="push"/>
              <action
                class="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintShipmentPackSlipRelatedTaskAction"
                definitionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintShipmentPackSlipRelatedTaskAction"
                icon="icons/ActivateButton.gif"
                id="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintShipmentPackSlipRelatedTaskAction"
                label="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSPrintShipmentPackSlipRelatedTaskAction" style="push"/>
              <action
                class="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSReprintBatchRelatedTaskAction"
                definitionId="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSReprintBatchRelatedTaskAction"
                icon="icons/ActivateButton.gif"
                id="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSReprintBatchRelatedTaskAction"
                label="com.kohls.ibm.ocf.pca.rcp.relatedtasks.KOHLSReprintBatchRelatedTaskAction" style="push"/>
              
        </actionSet>
        <actionSet
              id="com.kohls.ibm.ocf.pca.extensions.actionSet"
              label="com.kohls.ibm.ocf.pca.extensions.actionSet" visible="true">
           <action
                 class="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPackSlipAction"
                 definitionId="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPackSlipAction"
                 icon="icons/fulfillment.gif"
                 id="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPackSlipAction"
                 label="%com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPackSlipAction"
                 state="true"
                 style="push"/>
			<action
                class="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSPrepareCustomerPickAction"
                definitionId="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSPrepareCustomerPickAction"
                icon="icons/fulfillment.gif"
                id="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSPrepareCustomerPickAction"
                label="%com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSPrepareCustomerPickAction"
                state="true" style="push"/>
            <action
                 class="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPickSlipAction"
                 definitionId="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPickSlipAction"
                 icon="icons/fulfillment.gif"
                 id="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPickSlipAction"
                 label="%com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPickSlipAction"
                 state="true"
                 style="push"/>
              
       </actionSet>
              
    </extension>
    <extension id="com.kohls.ibm.ocf.pca.commands"
        name="%com.kohls.ibm.ocf.pca.commands" point="org.eclipse.ui.commands">
        <command
            id="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerCloseAction" 
            name="%com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerCloseAction"/>
        <command
            id="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerRemoveAction" 
            name="%com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerRemoveAction"/>
        <command
            id="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintSinglesAction" 
            name="%com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintSinglesAction"/>
        <command
            id="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintMultisAction" 
            name="%com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintMultisAction"/>
        <command
            id="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPackSlipAction" 
            name="%com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPackSlipAction"/>
        <command
            id="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentRecordShortageAction" 
            name="%com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentRecordShortageAction"/>
		<command
            id="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSPrepareCustomerPickAction" 
            name="%com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSPrepareCustomerPickAction"/>
        <command
            id="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPickSlipAction" 
            name="%com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPickSlipAction"/>
        <command
            id="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesPrintAction" 
            name="%com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesPrintAction"/> 
        <command
            id="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesCloseAction" 
            name="%com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesCloseAction"/>
        <command
            id="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesRefreshAction" 
            name="%com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesRefreshAction"/>
        <command
            id="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSMassMultisRefreshAction" 
            name="%com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSMassMultisRefreshAction"/>
          <command
            id="com.kohls.ibm.ocf.pca.tasks.reprintbatch.actions.KOHLSReprintBatchPrintAction" 
            name="%com.kohls.ibm.ocf.pca.tasks.reprintbatch.actions.KOHLSReprintBatchPrintAction"/>     
             <!--- Start Drop2 changes for Batch Print -->       
        <command
            id="com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintAction" 
            name="%com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintAction"/>  
          <command
            id="com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintReprintAction" 
            name="%com.kohls.ibm.ocf.pca.tasks.batchprint.actions.KOHLSBatchPrintReprintAction"/> 
             <!--- End Drop2 changes for Batch Print --> 
                            
    </extension>
    <extension id="com.kohls.ibm.ocf.pca.bindings"
        name="%com.kohls.ibm.ocf.pca.bindings" point="org.eclipse.ui.bindings">
        <key
            commandId="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerCloseAction"
            contextId="com.kohls.ibm.ocf.pca.tasks.packshipment.wizards.KOHLSPackShipmentWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="F7"/>
        <key
            commandId="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentContainerRemoveAction"
            contextId="com.kohls.ibm.ocf.pca.tasks.packshipment.wizards.KOHLSPackShipmentWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="F5"/>
        <key
            commandId="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintSinglesAction"
            contextId="com.kohls.ibm.ocf.pca.tasks.printpackslip.wizards.KOHLSPrintPackSlipWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="F9"/>
        <key
            commandId="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSPrintPackSlipPrintMultisAction"
            contextId="com.kohls.ibm.ocf.pca.tasks.printpackslip.wizards.KOHLSPrintPackSlipWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="F10"/>
         <key
            commandId="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPackSlipAction"
            contextId="com.yantra.pca.sop.rcp.tasks.outboundexecution.searchshipment.wizards.SOPOBEShipmentSearchWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="M1+P"/>
            
         <key
            commandId="com.kohls.ibm.ocf.pca.tasks.packshipment.actions.KOHLSPackShipmentRecordShortageAction"
            contextId="com.kohls.ibm.ocf.pca.tasks.packshipment.wizards.KOHLSPackShipmentWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="M1+X"/>
		<key
            commandId="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSPrepareCustomerPickAction"
            contextId="com.yantra.pca.sop.rcp.tasks.outboundexecution.searchshipment.wizards.SOPOBEShipmentSearchWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="M1+K"/>
        <key
            commandId="com.kohls.ibm.ocf.pca.rcp.extensions.shipmentdetails.actions.KOHLSReprintPickSlipAction"
            contextId="com.yantra.pca.sop.rcp.tasks.outboundexecution.searchshipment.wizards.SOPOBEShipmentSearchWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="M1+Q"/>
         <key
            commandId="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesPrintAction"
            contextId="com.kohls.ibm.ocf.pca.tasks.printSingles.wizards.KOHLSMassSinglesPrintWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="F9"/>
           <key
            commandId="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesCloseAction"
            contextId="com.kohls.ibm.ocf.pca.tasks.printSingles.wizards.KOHLSMassSinglesPrintWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="Esc"/>
           <key
            commandId="com.kohls.ibm.ocf.pca.tasks.printSingles.actions.KOHLSMassSinglesRefreshAction"
            contextId="com.kohls.ibm.ocf.pca.tasks.printSingles.wizards.KOHLSMassSinglesPrintWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="F5"/>
           <key
            commandId="com.kohls.ibm.ocf.pca.tasks.printpackslip.actions.KOHLSMassMultisRefreshAction"
            contextId="com.kohls.ibm.ocf.pca.tasks.printpackslip.wizards.KOHLSPrintPackSlipWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="F5"/>
            <key
            commandId="com.kohls.ibm.ocf.pca.tasks.reprintbatch.actions.KOHLSReprintBatchPrintAction"
            contextId="com.kohls.ibm.ocf.pca.tasks.reprintbatch.wizards.KOHLSReprintBatchWizard"
            schemeId="defaultYantraKeyConfigurations" sequence="F5"/>
			<!--- Start Drop2 Pick Slip Print -->
			<key
                  commandId="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipAction"
                  contextId="com.kohls.ibm.ocf.pca.tasks.printSingles.wizards.KohlsStorePickSlipPrintWizard"
                  schemeId="defaultYantraKeyConfigurations"
                  sequence="F9"/>
            <key
                  commandId="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipCloseAction"
                  contextId="com.kohls.ibm.ocf.pca.tasks.printSingles.wizards.KohlsStorePickSlipPrintWizard"
                  schemeId="defaultYantraKeyConfigurations"
                  sequence="Esc"/>
            <key
                  commandId="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipBulkPrintAction"
                  contextId="com.kohls.ibm.ocf.pca.tasks.printSingles.wizards.KohlsStorePickSlipPrintWizard"
                  schemeId="defaultYantraKeyConfigurations"
                  sequence="F8"/>
            <key
                  commandId="com.kohls.ibm.ocf.pca.tasks.printStorePickSlips.actions.KOHLSPrintStorePickSlipRefreshAction"
                  contextId="com.kohls.ibm.ocf.pca.tasks.printSingles.wizards.KohlsStorePickSlipPrintWizard"
                  schemeId="defaultYantraKeyConfigurations"
                  sequence="F5"/>
			<!--- End Drop2 Pick Slip Print -->	  
    </extension>
    <extension point="org.eclipse.ui.contexts">
        <context
            id="com.kohls.ibm.ocf.pca.tasks.packshipment.wizards.KOHLSPackShipmentWizard" 
            name="%com.kohls.ibm.ocf.pca.tasks.packshipment.wizards.KOHLSPackShipmentWizard"/>
        <context
            id="com.kohls.ibm.ocf.pca.tasks.printpackslip.wizards.KOHLSPrintPackSlipWizard" 
            name="%com.kohls.ibm.ocf.pca.tasks.printpackslip.wizards.KOHLSPrintPackSlipWizard"/>
         <context
            id="com.yantra.pca.sop.rcp.tasks.outboundexecution.searchshipment.wizards.SOPOBEShipmentSearchWizard" 
            name="%com.yantra.pca.sop.rcp.tasks.outboundexecution.searchshipment.wizards.SOPOBEShipmentSearchWizard"/>
          <context
            id="com.kohls.ibm.ocf.pca.tasks.printSingles.wizards.KOHLSMassSinglesPrintWizard" 
            name="%com.kohls.ibm.ocf.pca.tasks.printSingles.wizards.KOHLSMassSinglesPrintWizard"/>
          <context
            id="com.kohls.ibm.ocf.pca.tasks.reprintbatch.wizards.KOHLSReprintBatchWizard" 
            name="%com.kohls.ibm.ocf.pca.tasks.reprintbatch.wizards.KOHLSReprintBatchWizard"/>
		<!--- Start Drop2 Pick Slip Print -->
		  <context
                id="com.kohls.ibm.ocf.pca.tasks.printSingles.wizards.KohlsStorePickSlipPrintWizard"
                name="com.kohls.ibm.ocf.pca.tasks.printSingles.wizards.KohlsStorePickSlipPrintWizard"/>
		<!--- End Drop2 Pick Slip Print -->	  
    </extension>
    
    <extension point="com.yantra.yfc.rcp.YRCRelatedTaskGroups">
        <groups id="com.kohls.ibm.ocf.pca.kohlsgroups">
            <group id="Shipping" name="Shipping" sequence="300"/>
        </groups>
    </extension>
       <!-- DROP 2 SIM INI - BEGIN -->
        
        <extension
              id="com.kohls.ibm.ocf.pca"
              name="com.kohls.ibm.ocf.pca"
              point="com.yantra.yfc.rcp.YRCApplicationInitializer">
           <Initializer class="com.kohls.ibm.ocf.pca.rcp.KohlsApplicationInitializer"/>
        </extension>
         <extension point="org.eclipse.ui.editors">
            <editor
                class="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSSIMEditor"
                default="false" icon=""
                id="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSSIMEditor" name="SIM Properties"/>
       </extension>   
       
        <extension point="org.eclipse.ui.actionSets">
            <actionSet id="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions" label="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions">
                <action
                    class="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSSIMEditorOpenAction"
                    definitionId="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSSIMEditorOpenAction"
                    icon="icon.jpg"
                    id="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSSIMEditorOpenAction"
                    label="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSSIMEditorOpenAction"
                    state="true" style="push"/>
            </actionSet>
        </extension>
        <extension point="org.eclipse.ui.actionSets">
            <actionSet id="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions" label="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions">
                <action
                    class="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSSavePropertiesAction"
                    definitionId="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSSavePropertiesAction"
                    icon="icon.jpg"
                    id="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSSavePropertiesAction"
                    label="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSSavePropertiesAction"
                    state="true" style="push"/>
            </actionSet>
             <actionSet id="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions" label="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions">
                <action
                    class="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSCloseEditorAction"
                    definitionId="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSCloseEditorAction"
                    icon="icon.jpg"
                    id="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSCloseEditorAction"
                    label="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSCloseEditorAction"
                    state="true" style="push"/>
            </actionSet>
        </extension>
          <extension point="org.eclipse.ui.actionSets">
            <actionSet id="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions" label="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions">
                <action
                    class="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSModifySIMAction"
                    definitionId="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSModifySIMAction"
                    icon="icon.jpg"
                    id="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSModifySIMAction"
                    label="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSModifySIMAction"
                    state="true" style="push"/>
            </actionSet>
        </extension>
    
  <!-- DROP 2 SIM INI - END -->
  <!-- DROP 2 Change Shipment address START-->          
       <extension point="org.eclipse.ui.actionSets">
        <actionSet id="com.kohls.ibm.ocf.pca.tasks.changeShippingAddress.actions" label="com.kohls.ibm.ocf.pca.tasks.changeShippingAddress.actions">
            <action
                class="com.kohls.ibm.ocf.pca.tasks.changeShippingAddress.actions.KOHLSSaveChangeShippingAddressAction"
                definitionId="com.kohls.ibm.ocf.pca.tasks.changeShippingAddress.actions.KOHLSSaveChangeShippingAddressAction"
                id="com.kohls.ibm.ocf.pca.tasks.changeShippingAddress.actions.KOHLSSaveChangeShippingAddressAction"
                label="com.kohls.ibm.ocf.pca.tasks.changeShippingAddress.actions.KOHLSSaveChangeShippingAddressAction"
                state="true" style="push"/>
        </actionSet>
    </extension>
      <!-- DROP 2 Change Shipment address - END --> 
      
       <!-- For Add new Related Task for SIMINI - BEGIN-->
      
             <extension point="com.yantra.yfc.rcp.YRCRelatedTaskCategories">
              <categories id="com.kohls.ibm.ocf.pca.KohlsSIMCategrogies">
                  <category id="EXTN_KOHLS_ADD_SIM">
                      <tasks id="com.kohls.ibm.ocf.pca.KohlsSIMTasks">
                          <task id="EXTN_KOHLS_ADD_SIM"/>
                      </tasks>
                  </category>
              </categories>
             
          </extension>
           <extension point="com.yantra.yfc.rcp.YRCRelatedTasks">
              <tasks id="com.kohls.ibm.ocf.pca.KohlsSIMTasks">
                  <task
                      actionId="com.kohls.ibm.ocf.pca.tasks.siminiproperties.actions.KOHLSModifySIMAction"
                      filterRequired="true" groupId="SIMTasks"
                      id="EXTN_KOHLS_ADD_SIM" isExtension="true" name="KOHLS_MODIFY_SIM">
                      <categories id="com.lws.rcp.pca.LowesAddDPSTaskCategories">
                          <category id="EXTN_KOHLS_ADD_SIM"/>
                      </categories>
                  </task>
                  </tasks>
                  </extension>
      	<extension point="com.yantra.yfc.rcp.YRCRelatedTaskGroups">
              <groups id="com.kohls.ibm.ocf.pca.Add_DPS_ItemGroup">
                  <group id="SIMTasks" name="SIMTasks" sequence="89"/>
              </groups>
          </extension>
          
          <extension point="com.yantra.yfc.rcp.YRCRelatedTasksExtensionContributor">
              <relatedTasksExtensionContributor
                  class="com.kohls.ibm.ocf.pca.tasks.siminiproperties.extensioncontributor.KOHLSSIMExtensionContributor" editorId="com.kohls.ibm.ocf.pca.rcp.editors.KOHLSSIMEditor"/>
                  
    </extension>
        <!-- For Add new Related Task for SIMINI - END-->
          <extension                
                point="com.yantra.yfc.rcp.YRCJasperReports">
             <JasperReport
                   description="SinglePickSlipPrint"
                   file="resources/reports/SinglePickSlipMain.jasper"
                   id="SinglePickSlipPrint"/>
			 <JasperReport
                   description="StoreBatchPrint"
                   file="resources/reports/StoreBatchPrintMain.jasper"
                   id="StoreBatchPrint"/>
             <JasperReport
                   description="RDCSinglesBatchPrint"
                   file="resources/reports/KohlsPackShip.jasper"
                   id="RDCSinglesBatchPrint"/>
             <JasperReport
                   description="RDCMultisBatchPrint"
                   file="resources/reports/KOHLSPickSlipSummaryMAINReport.jasper"
                   id="RDCMultisBatchPrint"/>
			<JasperReport
                   description="CollatePrintingEnabled"
                   file="resources/reports/KohlsPackShipCollate.jasper"
                   id="CollatePrintingEnabled"/>
          </extension>
          <extension
                id="com.kohls.ibm.ocf.pca"
                name="com.kohls.ibm.ocf.pca"
                point="com.yantra.yfc.rcp.YRCPostWindowOpenInitializer">
             <Initializer class="com.kohls.ibm.ocf.pca.rcp.KohlsPostWindowInitializer"/>
          </extension>
          <extension
                id="KohlsShipmentSearchExtensionContributor"
                name="KohlsShipmentSearchExtensionContributor"
                point="com.yantra.yfc.rcp.YRCRelatedTasksExtensionContributor">
             <relatedTasksExtensionContributor
                   class="com.kohls.ibm.ocf.pca.rcp.extensions.SearchShipment.KOHLSSearchShipmentExtensionContributor"
                   editorId="com.yantra.pca.sop.rcp.tasks.outboundexecution.searchshipment.editors.SOPOBEShipmentSearchDetailEditor"/>
          </extension>
          
</plugin>
