Ext.namespace('sc.sbc.kohls.item.ineligibility');

sc.sbc.kohls.item.ineligibility.BasicItemSearch = function(config) {
    sc.sbc.kohls.item.ineligibility.BasicItemSearch.superclass.constructor.call(this, config);
}
Ext.extend(sc.sbc.kohls.item.ineligibility.BasicItemSearch, sc.plat.ui.ExtensibleScreen, {
    className: 'sc.sbc.kohls.item.ineligibility.BasicItemSearch',
    getUIConfig: sc.sbc.kohls.item.ineligibility.BasicItemSearchUIConfig,
    namespaces: {
        target: [],
        source: []
    },
    namespacesDesc: {
        targetDesc: [],
        sourceDesc: []
    }
});
Ext.reg('seaBasicItemSearch3', sc.sbc.kohls.item.ineligibility.BasicItemSearch);